
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{'/layui/css/layui.css'}" media="all">
    <script th:src="@{'/layui/layui.js'}"></script>
</head>
<script>
    layui.use('form', function(){
        var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功

        //……

        //但是，如果你的HTML是动态生成的，自动渲染就会失效
        //因此你需要在相应的地方，执行下述方法来手动渲染，跟这类似的还有 element.init();
        form.render();
    });
</script>
<body>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>拿药交钱</legend>
</fieldset>
<form class="layui-form" th:action="@{|/finance_money/${taskId}|}">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label"></label>
            <div class="layui-input-inline">
                <input type="hidden" name="taskId" th:value="${taskId}">
                <input type="hidden" name="regId" th:value="${regId}">
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">患者</label>
                    <div class="layui-input-inline">
                        <input type="text" th:value="${map?.user_id}" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">生成拿药交费时间</label>
                    <div class="layui-input-inline">
                        <input type="text" th:value="${#dates.format(map?.createTime,'yyyy/MM/dd HH:mm:ss')}" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">购买的药品</label>
                    <div class="layui-input-block">
                        <input type="text" th:value="${map1?.doctor_med_name}"  autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">购买的数量</label>
                    <div class="layui-input-inline">
                        <input type="text" th:value="${map1?.doctor_med_count}" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">药品的使用意见</label>
                    <div class="layui-input-block">
                        <textarea class="layui-textarea">[[${map1?.doctor_con}]]</textarea>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="demo1">去药房拿药交钱</button>
                </div>
            </div>
</form>
</body>
</html>
