<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{'/layui/css/layui.css'}" media="all">
    <script th:src="@{'/layui/layui.js'}"></script>
</head>

    <script type="text/javascript" th:inline="none">
        layui.use([ 'form', 'layer','jquery' ], function() {
            var form = layui.form;
            var layer = layui.layer;
            var $ = layui.$;
            $.ajax({
                url: "/allSup",
                type: "post",
                async: false,
                dataType: "json",//后台返回的是一个json格式的数据
                success: function (data) {
                    //data，即为返回的json,它本身的类型是map
                    //如果json的类型是map,循环取到的内容分别为：key(对应map中的键),value(对应map中的值)
                    $.each(data, function (index, map) {
                        $("<option value='" + map.sup_no + "'>" + map.sup_unit + "</option>").appendTo("#sup");
                    });
                    form.render('select');//菜单渲染 把内容加载进去
                }

            });
            $.ajax({
                url: "/allyaoname",
                type: "post",
                async: false,
                dataType: "json",//后台返回的是一个json格式的数据
                success: function (data) {
                    //data，即为返回的json,它本身的类型是map
                    //如果json的类型是map,循环取到的内容分别为：key(对应map中的键),value(对应map中的值)
                    $.each(data, function (index, map) {
                        $("<option value='" + map.sup_no + "'>" + map.dru_name + "</option>").appendTo("#yaoname");
                    });
                    form.render('select');//菜单渲染 把内容加载进去
                }

            });
            form.render();
            form.render('select' ,'test'); //刷新select选择框渲染//菜单渲染 把内容加载进去
        });

</script>

<body>
<h1 align="center"><b>发起采购单</b></h1>
<form class="layui-form" th:action="@{'/createOrder'}" lay-filter="example">
    <div class="layui-form-item">

        <label class="layui-form-label">采购药品</label>
        <div class="layui-input-block">
            <select name="name" lay-filter="aihao" id="yaoname">

            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">采购单金额</label>
        <div class="layui-input-block">
            <input type="number" name="price" placeholder="请输入金额" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">采购数量</label>
        <div class="layui-input-block">
            <input type="number" name="count" placeholder="请输入数量" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">

        <label class="layui-form-label">供應商</label>
        <div class="layui-input-block">
            <select name="supplierId" lay-filter="aihao" id="sup">

            </select>
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">采购单详情</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入内容" class="layui-textarea" name="content"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
</body>
</html>