<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script type="text/javascript" th:src="@{'/js/jquery-1.4.4.js'}"></script>
<script type="text/javascript" th:src="@{'/js/echarts.min.js'}"></script>
<script type="text/javascript" th:src="@{'/js/yydata/my.js'}"></script>
<script type="text/javascript" th:src="@{'/js/yydata/my1.js'}"></script>
<body>
<table align="center">
    <tr>
        <th><h1></h1></th>
        <th><h1></h1></th>
    </tr>
    <tr>
        <td><div>
            <div id="mydiv1" style="width:600px;height:400px"></div>

        </div></td>
        <td><div>
            <div id="mydiv2" style="width:600px;height:400px"></div>

        </div></td>
        <th></th>
    </tr>
</table>
</body>
</html>