<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <title>漳州第四医院</title>
    <link rel="shortcut icon" th:href="@{'/favicon.ico'}" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" th:href="@{'/css/base.css'}">
    <link rel="stylesheet" type="text/css" th:href="@{'/css/main.css'}">
    <link rel="stylesheet" type="text/css" th:href="@{'/css/font-awesome.min.css'}">
    <!--<script src="js/jquery-3.2.1.min.js"></script>-->
    <script th:src="@{'/js/jquery-1.4.4.js'}"></script>
    <script th:src="@{'/js/fun.js'}"></script>
    <script th:src="@{'/js/smoothscroll.min.js'}"></script>
    <script th:src="@{'/js/jquery.cycle.all.js'}"></script>
    <script th:src="@{'/js/jquery.SuperSlide.2.1.1.js'}"></script>
    <script th:src="@{'/js/index.js'}"></script>
    <script th:src="@{'/js/jquery-runbanner.js'}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{'/css/banner.css'}">
</head>

<body style="min-width:1200px;">
<!--header-->
<div class="topbox">
    <div class="head" id="header">
        <a th:href="@{'/page/index'}"><img th:src="${session.his.photo}"></a>
        <div class="top_hotline">&nbsp;&nbsp;咨询热线<br><b>[[${session.his.tel}]]</b></div>
    </div>
</div>
<!--header-->
<!--导航nav-start-->
<div class="nav">
    <div class="clearfix" style="width:100%;">
        <ul>
            <li  class="cur"><a th:href="@{'/page/index'}">首 页</a><em>|</em></li>
            <li>
                <a href="">医院概况</a><em>|</em>
                <div class="submenu" style="display: none;">
                    <a th:href="@{'/page/about'}"><span>医院简介</span></a>
                    <a th:href="@{'/page/zzjg'}"><span>组织架构</span></a>
                    <a th:href="@{'/page/ylsb'}"><span>医疗设备</span></a>
                </div>
            </li>
            <li>
                <a href="">医护团队</a><em>|</em>
                <div class="submenu" style="display: none;">
                    <a th:href="@{'/page/ksjs'}"><span>科室介绍</span></a>
                    <a th:href="@{'/page/zjjs'}"><span>专家介绍</span></a>
                </div>
            </li>
            <li>
                <a href="">新闻动态</a><em>|</em>
                <div class="submenu" style="display: none;">
                    <a href=""><span>新闻</span></a>
                    <a href=""><span>院报</span></a>
                </div>
            </li>
            <li>
                <a href="">院务公开</a><em>|</em>
                <div class="submenu">
                    <a href=""><span>院务公告</span></a>
                    <a href=""><span>招标公告</span></a>
                    <a href=""><span>管理制度</span></a>
                    <a href=""><span>特色栏目</span></a>
                    <a href=""><span>职工之家</span></a>
                    <a href=""><span>医院资质</span></a>
                    <a href=""><span>特色推荐</span></a>
                </div>
            </li>

            <li>
                <a href="">党建工作</a><em>|</em>
                <div class="submenu" style="display: none;">
                    <a href=""><span>基层党建</span></a>
                    <a href=""><span>纪检监察</span></a>
                </div>
            </li>
            <li>
                <a href="">人事招聘</a><em>|</em>
                <div class="submenu" style="display: none;">
                    <a href=""><span>招聘公示</span></a>
                    <a href=""><span>招聘动态</span></a>
                </div>
            </li>
            <li>
                <a href="">科室教研</a><em>|</em>
                <div class="submenu" style="display: none;">
                    <a href=""><span>名医工作室</span></a>
                </div>
            </li>
            <li>
                <a href="">在线服务</a>
                <div class="submenu" style="display: none;">
                    <a th:href="@{'/page/contactus'}"><span>联系我们</span></a>
                    <a th:href="@{'/page/hzfw'}"><span>患者服务</span></a>
                    <a th:href="@{'/page/xlzx'}"><span>心理咨询留言板</span></a>
                    <a th:href="@{'/page/yjfk'}"><span>意见反馈</span></a>
                </div>
            </li>
        </ul>
    </div>
</div>
<script type="text/javascript">
	$(".nav ul li").hover(function(){
		$(this).find(".submenu").slideDown();
	},function(){
		$(this).find(".submenu").slideUp();
	});
</script>
<!--导航nav-end-->
<!--banner-->
<div class="innerbanner"><img th:src="@{'/images/bc3.jpg'}"></div>
<!--banner-->
<!--content-->
<div class="pagescont web">
   <div class="pagesleft" >
    <div class="lefttitle">
            <p>在线服务</p>
            
        </div>
        <ul class="subnavlist">
            <li><a  th:href="@{'/page/contactus'}">联系我们</a></li>
            <li><a   th:href="@{'/page/hzfw'}">患者服务</a></li>
            <li><a class="cur" th:href="@{'/page/xlzx'}">心理咨询留言板</a></li>
            <li><a  th:href="@{'/page/yjfk'}">意见反馈</a></li>
        </ul>
   </div>
    <div class="pageright">
         <div class="pagetitle clearfix">
            <span class="crumbslink">当前位置：<a href="">首页</a> &gt;  <a href="">在线服务</a>  &gt;  <a class="cur" href="">心理咨询留言板</a></span>
             <h4>心理咨询留言板<span>心理咨询留言板</span></h4>
          </div>
          <!--右侧内容-->
        <div class="talk_con">
            <div class="talk_show" id="words">
                <!--<div class="atalk"><span id="asay">A说：吃饭了吗？</span></div>-->
                <!--<div class="btalk"><span id="bsay">B说：还没呢，你呢？</span></div>-->
            </div>
            <div class="talk_input">
                <!--<select class="whotalk" id="who">-->
                    <!--<option value="0">A说：</option>-->
                    <!--<option value="1">B说：</option>-->
                <!--</select>-->
                <p class="whotalk">提&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;问:</p>
                <input type="text" class="talk_word" id="talkwords">
                <input type="button" value="发送" class="talk_sub" id="talksub">

                <input type="button" value="清空对话" class="talk_sub" id="qkong">
            </div>
        </div>
        </div>
          
          
    </div>
</div>


<!--content-->
<!--底部start-->
<div class="footer" style="margin-top:0;">
    <div class="con">
        <ul>
            <li class="w280">
                <h1>关于我们</h1>
                <p><a th:href="@{'/page/about'}">医院简介</a></p>
                <p><a th:href="@{'/page/zzjg'}">组织架构</a></p>
                <p><a th:href="@{'/page/ylsb'}">医疗设备</a></p>
            </li>
            <li class="w460">
                <h1>医疗服务</h1>
                <tr th:each="k,st:${session.division}" align="center">
                    <p class="on"><a th:href="@{|/ksjs/${k.id}|}"><b th:text="${k.NAME}"></b></a></p>
                </tr>


                <div class="clear"></div>
            </li>
            <li class="w461">
                <h1>联系我们</h1>
                <div>
                    <p>医院地址：[[${session.his.address}]]</p><p>公交路线：[[${session.his.comehere}]]<br></p>
                    <p>路到第四医院站<br></p><p>联系电话：[[${session.his.tel}]]</p><p>[[${session.his.name}]]感谢您的致电！</p>
                </div>
            </li>
            <div class="clear"></div>
        </ul>
        <div class="copy">
            © Copyright 2019  D102
        </div>
    </div>
</div>
<!--底部end-->
<!--侧边栏start-->
<aside class="aside" id="aside">
    <ul class="aside-service">
        <li>
            <a th:href="@{'/page/ksjs'}">
                <i class="fa fa-calendar"></i><br>
                <span>科室查询</span>
            </a>
        </li>
        <li>
            <a th:href="@{'/page/zjjs'}">
                <i class="fa fa-user-md"></i><br>
                <span>医师查询</span>
            </a>
        </li>
        <li>
            <a th:href="@{'/page/mapdh'}">
                <i class="fa fa-map-marker"></i><br>
                <span>医院位置</span>
            </a>
        </li>
    </ul>
    <div class="gotop" id="gotop">
        <a href="#header">回到顶部<i class="fa fa-angle-up"></i></a>
    </div>
</aside>
<!--侧边栏end-->



<style type="text/css">
    .talk_con{
        width:600px;
        height:500px;
        border:1px solid #666;
        margin:50px auto 0;
        background:#f9f9f9;
    }
    .talk_show{
        width:580px;
        height:420px;
        border:1px solid #666;
        background:#fff;
        margin:10px auto 0;
        overflow:auto;
    }
    .talk_input{
        width:580px;
        margin:10px auto 0;
    }
    .whotalk{
        width:80px;
        height:30px;
        float:left;
        outline:none;
    }
    .talk_word{
        width:420px;
        height:26px;
        padding:0px;
        float:left;
        margin-left:10px;
        outline:none;
        text-indent:10px;
    }
    .talk_sub{
        width:56px;
        height:30px;
        float:left;
        margin-left:10px;
    }
    .atalk{
        margin:10px;
    }
    .atalk span{
        display:inline-block;
        background:#0181cc;
        border-radius:10px;
        color:#fff;
        padding:5px 10px;
    }
    .btalk{
        margin:10px;
        text-align:right;
    }
    .btalk span{
        display:inline-block;
        background:#ef8201;
        border-radius:10px;
        color:#fff;
        padding:5px 10px;
    }
</style>
<script type="text/javascript">
    //
    window.onload = function(){
        var Words = document.getElementById("words");
      //  var Who = document.getElementById("who");
        var TalkWords = document.getElementById("talkwords");
        var TalkSub = document.getElementById("talksub");
        var QKong = document.getElementById("qkong");
        TalkSub.onclick = function(){
            //定义空字符串
            var str = "";
            if(TalkWords.value == ""){
                // 消息为空时弹窗
                alert("消息不能为空");
                return;
            }
                str = '<div class="btalk"><span>问题 :' + TalkWords.value +'</span></div>' ;
                Words.innerHTML = Words.innerHTML + str;
                $.ajax({
                    url:"http://open.drea.cc/chat/get?keyWord="+TalkWords.value+"+&userName=type%3Dbbs",
                    type:"get",
                    dataType:"String",
                    success:function(data){
                        var obj = JSON.parse(data);
                        str = '<div class="atalk"><span>机器人回复 :' + obj.data.reply+'</span></div>';
                        Words.innerHTML = Words.innerHTML + str;
                        $("#talkwords").val("");
                    }
                });


           // Words.innerHTML = Words.innerHTML + str;
            document.getElementById("talkwords").value="";
        }
        QKong.onclick = function(){
            document.getElementById('words').innerHTML = "";


        }

    }


</script>
</body>
</html>