<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.java.dao.CreateOrderMapper">
    <insert id="createOrder" parameterType="map">
insert into purchase_order1 values(#{id},#{name},#{price},#{content},#{createTime},#{status},#{userId},#{processInstanceId},#{endtime},#{supplierId},#{count})
    </insert>
    <select id="findProcessInstanceId" resultType="map">
select supplier.*,purchase_order1.* from purchase_order1,supplier where processInstance_id=#{processInstanceId}and
supplier.sup_no=purchase_order1.ord_supplier_no

</select>

<select id="findOrder" resultType="map">
 select * from purchase_order1 where id=#{id}

 </select>
    <insert id="OrderSumit" parameterType="map">
 insert into purchase_order_audit values(#{id},#{user},#{orderId},#{info},#{defKey},#{status},#{Createtime})

 </insert>
    <insert id="Stock_In" parameterType="map">
 insert into Stock_In values(#{id},#{name},#{price},#{content},#{Createtime},#{assignee},#{count})

 </insert>
    <select id="findStock_In" resultType="map">
        SELECT * FROM Stock_In
    </select>
    <update id="updateDrug" parameterType="map">
        UPDATE  drug SET dru_drugnum=dru_drugnum+#{count} WHERE dru_name=#{name}
    </update>
</mapper>