<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.java.dao.DepartmentMapper">
    <select id="findAllDepartmentt" resultType="map">
       SELECT * FROM departmentt
    </select>
    <select id="findDepartment" resultType="map" parameterType="map">
        select * FROM departmentt limit #{start},#{limit}
    </select>
    <select id="findDepartmenttcount" resultType="int">
        select count(*) from departmentt
    </select>

    <delete id="delDepartmentt" parameterType="int">
        DELETE  FROM departmentt WHERE id=#{id}
    </delete>

    <update id="updateDepartmentt" parameterType="map">
        update departmentt SET name=#{name},
        content=#{content}
        where id=#{id}
    </update>
    <insert id="addDepartmentt" parameterType="map">
        insert into departmentt values(null,#{name},#{content})
    </insert>
</mapper>