<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.java.dao.DivisionMapper">
    <select id="findAlldivision" resultType="map" >
        SELECT * FROM division
    </select>
    <select id="finddivisionbytype" resultType="map" >
      SELECT department_division.id AS dd_id,department_division.address AS address,
      division.id AS di_id,division.NAME AS di_name,
      division.photo AS photo,division.content AS content,
      departmentt.id AS de_id,departmentt.name AS de_name
FROM department_division,division,departmentt
 WHERE department_division.dep_id=departmentt.id AND department_division.div_id=division.id
    </select>
    <select id="finddivisionbyid" resultType="map" parameterType="int">
        SELECT * FROM division where id=#{id}
    </select>

    <select id="finddivision" resultType="map" parameterType="map">
        select * FROM division limit #{start},#{limit}
    </select>
    <select id="finddivisioncount" resultType="int">
        select count(*) from division
    </select>

    <delete id="deldivision" parameterType="int">
        DELETE  FROM division WHERE id=#{id}
    </delete>

    <update id="updatedivision" parameterType="map">
        update division SET NAME=#{NAME},div_tel=#{div_tel},
        content=#{content}
        where id=#{id}
    </update>
    <insert id="adddivision" parameterType="map">
        insert into division values(null,#{NAME},'/images/ylsb1.jpg',#{content},'1楼房',#{div_tel})
    </insert>
</mapper>