<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.java.dao.HisMapper">
    <select id="findHis" resultType="map">
        SELECT * FROM his where id=1
    </select>
    <select id="updateHis" resultType="map">
        UPDATE his SET name=#{name},address=#{address},tel=#{tel},tell=#{tell},telll=#{telll},email=#{email},comehere=#{comehere},
    content=#{content}
     where id=1
    </select>
    <insert id="addyj" parameterType="map">
        insert into yjfk values(null,#{yj_zt},#{yj_tel},#{yj_sm},#{yj_yj})
    </insert>

    <select id="findyjfk" resultType="map" parameterType="map">
        select * FROM yjfk limit #{start},#{limit}
    </select>
    <select id="findyjfkcount" resultType="int">
        select count(*) from yjfk
    </select>

    <delete id="delyjfk" parameterType="int">
        DELETE  FROM yjfk WHERE yj_id=#{yj_id}
    </delete>
    <select id="findsy" resultType="map">
        SELECT * from yysr
    </select>
    <update id="upmoney" parameterType="map">
        UPDATE yysr SET  money=money+#{money} where srdate=#{time}
    </update>
    <insert id="addday" >
      INSERT INTO yysr VALUES(NOW(),0)
    </insert>

</mapper>