<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.java.dao.medicineMapper">
    <select id="findDrug" resultType="map">
      SELECT * FROM drug
        <where>
            <if test="dru_name!=null and dru_name!=''">
                and dru_name like '%${dru_name}%'
            </if>
            <if test="dru_drugstore_no!=null and dru_drugstore_no!=0">
                and dru_drugstore_no=#{dru_drugstore_no}
            </if>
        </where>
        LIMIT #{start},#{rows};
    </select>
    <select id="drugCount" resultType="int">
       SELECT COUNT(*) FROM drug
        <where>
            <if test="dru_name!=null and dru_name!=''">
                and dru_name like '%${dru_name}%'
            </if>
            <if test="dru_drugstore_no!=null and dru_drugstore_no!=0">
                and dru_drugstore_no=#{dru_drugstore_no}
            </if>
        </where>
    </select>
    <insert id="add" parameterType="map">
        insert into drug values (null,#{dru_name},#{dru_properties},#{dru_specification},#{dru_date},#{dru_factory},#{dru_data_in},#{dru_release},#{dru_price},#{dru_drugstore_no},#{dru_drugnum});
    </insert>
<delete id="del" parameterType="int">
    DELETE FROM drug WHERE dru_no=#{dru_no}
</delete>
    <update id="update" parameterType="map">
        update drug set dru_name=#{dru_name},dru_properties=#{dru_properties},dru_specification=#{dru_specification},dru_date=#{dru_date},dru_factory=#{dru_factory},dru_data_in=#{dru_data_in},dru_release=#{dru_release},dru_price=#{dru_price},dru_drugstore_no=#{dru_drugstore_no},dru_drugnum=#{dru_drugnum} where dru_no=#{dru_no}
    </update>
    <select id="findSupplier" resultType="map">
        select * from supplier
    </select>
    <select id="findChinese_medicine" resultType="map">
       SELECT supplier.*, chinese_medicine.* FROM supplier,chinese_medicine WHERE supplier.sup_no=chinese_medicine.chi_supplier_no
    </select>
    <select id="findWestern_medicine" resultType="map">
     SELECT supplier.*, western_medicine.* FROM supplier,western_medicine WHERE supplier.sup_no=western_medicine.wes_supplier_no
    </select>
    <select id="findDrugstore" resultType="map">
        SELECT drug.*, drugstore.* FROM drug ,drugstore WHERE drug.dru_drugstore_no=drugstore.sto_no
    </select>
    <select id="purOrderCount" parameterType="map">
      SELECT COUNT(*) FROM purchase WHERE  pur_name=#{name} AND pur_pwd=#{pwd};
    </select>
    <select id="findOrderId" resultType="map">
    SELECT * FROM purchase WHERE pur_name=#{cname};
    </select>
</mapper>