<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.java.dao.registerOrderMapper">
    <select id="findProcessInstanceId" resultType="map">
SELECT reg.*,stafff.NAME AS sta_name,division.* FROM reg,stafff,division WHERE processInstance_id=#{processInstanceId} AND
reg.reg_type=stafff.id AND reg.reg_zzys=division.id

</select>
    <select id="findOrder" resultType="map">
 select * from reg where reg_id=#{regId}

 </select>
    <insert id="OrderSumit" parameterType="map">
 insert into dispose values(#{id},#{user},#{Createtime},#{info},#{regId},#{status},#{defKey})

 </insert>
    <insert id="doctor_med" parameterType="map">
 insert into doctor_med values(#{id},#{user},#{Createtime},#{info},#{regId},#{defKey},#{name},#{count})

 </insert>
    <insert id="detailsCheck" parameterType="map">
 insert into  check_body values(#{id},#{user},#{Createtime},#{info},#{regId},#{detailsCheck})

 </insert>
    <insert id="checkOver" parameterType="map">
 insert into checkover values(#{id},#{user},#{Createtime},#{info},#{regId},#{detailsCheckover})
 </insert>
    <insert id="cure" parameterType="map">
 insert into cure values(#{id},#{user},#{Createtime},#{info},#{regId},#{status})
 </insert>
    <insert id="operation" parameterType="map">
 insert into operation values(#{id},#{user},#{Createtime},#{regId},#{operationtype})
 </insert>
    <insert id="operationOver" parameterType="map">
 insert into operationover values(#{id},#{user},#{Createtime},#{info},#{regId},#{operationover_status})
 </insert>
    <select id="dispose" resultType="map">
    SELECT dispose.*,reg.* FROM  dispose,reg WHERE reg.reg_id=#{regId} AND reg.reg_id=dispose.dis_reg_id
    </select>
    <select id="doctorMed" resultType="map">
      SELECT doctor_med.*,reg.* FROM  doctor_med,reg WHERE reg.reg_id=#{regId} AND reg.reg_id=doctor_med.doctor_reg_id
    </select>
    <insert id="finance" parameterType="map">
 insert into finance values(#{id},#{user},#{regId},#{money_med},#{Createtime})
 </insert>
    <select id="check_body" resultType="map">
         SELECT check_body.*,reg.* FROM  check_body,reg WHERE reg.reg_id=#{regId} AND reg.reg_id=check_body.check_regId
    </select>
    <select id="checkover" resultType="map">
        SELECT checkover.*,reg.* FROM   checkover,reg WHERE reg.reg_id=#{regId} AND reg.reg_id= checkover.checkover_regId
    </select>
    <select id="Cure" resultType="map">
        SELECT cure.*,reg.* FROM   cure,reg WHERE reg.reg_id=#{regId} AND reg.reg_id= cure.cure_regId
    </select>
    <select id="Finance" resultType="map">
        SELECT finance.*,reg.* FROM   finance,reg WHERE reg.reg_id=#{regId} AND reg.reg_id= finance.finance_regId
    </select>
    <select id="Operationover" resultType="map">
        SELECT operationover.*,reg.* FROM   operationover,reg WHERE reg.reg_id=#{regId} AND reg.reg_id= operationover.operationover_regId
    </select>
    <select id="Operation" resultType="map">
         SELECT operation.*,reg.* FROM   operation,reg WHERE reg.reg_id=#{regId} AND reg.reg_id= operation.operation_regId
    </select>
</mapper>
