<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.java.dao.StaffMapper">
    <select id="findAllStaff" resultType="map">
        SELECT stafff.*,division.NAME AS di_name,rolee.NAME AS ro_name FROM stafff,department_division,division,rolee
WHERE stafff.dep_div_id=department_division.id AND department_division.div_id=division.id AND stafff.role_id=rolee.id
;
</select>
    <select id="findAllStaffbyid" resultType="map" parameterType="int">
        SELECT stafff.*,division.NAME AS di_name,rolee.NAME AS ro_name FROM stafff,department_division,division,rolee
        WHERE stafff.dep_div_id=department_division.id AND department_division.div_id=division.id AND stafff.role_id=rolee.id and stafff.id=#{id}
        ;
    </select>
    <select id="findallys" resultType="map" parameterType="int">
        SELECT   stafff.id AS ys_id,stafff.NAME aS ys_name,stafff.gh_money,division.NAME,department_division.* FROM stafff,division,department_division
  WHERE stafff.dep_div_id=department_division.id
 AND department_division.div_id=division.id and division.id=#{id}
    </select>

    <select id="findysmz" resultType="map" parameterType="map">
        SELECT stafff.* FROM stafff,department_division,departmentt WHERE stafff.dep_div_id=department_division.id
 AND department_division.dep_id=departmentt.id AND departmentt.id in (1,2) AND stafff.NAME=#{username} AND stafff.pwd=#{pwd}
    </select>
    <select id="findyszy" resultType="map" parameterType="map">
        SELECT stafff.* FROM stafff,department_division,departmentt WHERE stafff.dep_div_id=department_division.id
 AND department_division.dep_id=departmentt.id AND departmentt.id=3 AND stafff.NAME=#{username} AND stafff.pwd=#{pwd}
    </select>
</mapper>